=stylesheet_link_tag "csp_report/csp_report.css"

-# TODO: gbataille - Factorize this in a layout
.csp-report.row
  .csp-report.navbar.navbar-fixed-top
    .csp-report.navbar-inner
      .csp-report.container
        %a.brand{href: "#"}
          CSP Reports
        %ul.nav
          %li.active
            =link_to "Violations", csp_reports_path
          %li.divider-vertical
          %li
            =link_to "By IP", csp_reports_report_by_ip_path
          %li
            =link_to "By Violated Directive", csp_reports_report_by_rule_path
          %li
            =link_to "By Source Document URI", csp_reports_report_by_source_path

.csp-report.row.padding-navbar
  .csp-report
    %table.csp-report.report-table.table.table-striped.table-condensed
      %thead
        %tr.csp-report.report-row
          %th.csp-report.report-header
            Violated Directive
          %th.csp-report.report-header
            Details
          %th.csp-report.report-header
            IP / Date
          %th.csp-report.report-header
            Actions
      %tbody
      - @reports.each do |report|
        %tr.csp-report.report-row
          %td.csp-report.report-cell=report.violated_directive
          %td.csp-report.report-cell.uri
            <strong>URI:</strong> #{report.document_uri}<br>
            <strong>Referrer:</strong> #{report.referrer}<br>
            <strong>Blocked:</strong> #{report.blocked_uri}<br>
            <strong>Policy:</strong> #{report.original_policy}
          %td.csp-report.report-cell.nowrap
            #{report.incoming_ip}<br>#{l report.created_at, format: "%d.%m. %H:%M:%S"}
          %td.csp-report.report-cell
            =link_to('Delete', csp_report_path(report.id), method: 'delete', class: "btn btn-danger btn-mini")

.csp-report.row
  .csp-report

    %p.csp-report
      =link_to "Delete All", csp_reports_destroy_all_path, class: "btn btn-danger",
        data: {confirm: "Are you sure you want to delete all the violation reports?"}
